input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="number"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Button Save */
#save {
    background-color: transparent;
    border: none;
    color: Blue;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 5px;
    cursor: pointer;
    font-size:48px;
    
}

/* Button Cancel */
#cancel {
    background-color: transparent;
    border: none;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 5px;
    cursor: pointer;
    font-size:48px;
}

/* Button View */
#view {
    background-color: transparent;
    border: none;
    /* padding: 15px 25px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1px 3px;
    cursor: pointer;
    /* font-size:48px; */
  }

/* Button Edit */
#edit {
    background-color: transparent;
    border: none;
    /* padding: 15px 25px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1px 3px;
    cursor: pointer;
    /* font-size:48px; */
}

/* Button Delete */
#delete {
    background-color: transparent;
    border: none;
    /* padding: 15px 25px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1px 3px;
    cursor: pointer;
    /* font-size:48px; */
}

/* Button New */
#new {
    background-color: transparent;
    color:blue;
    border: none;
    /* padding: 15px 25px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1px 3px;
    cursor: pointer;
    /* font-size:48px; */
}

/* All Button */
.btn {
  border: none;
}

/* Judul Data Table */
th {
  background-color: lightslategray;
  color: azure;
  /* color: rgb(244, 247, 215); */
}


/* tr:nth-child(even) {
  background-color:#bab9b9 !important;

} */

.dataTables_filter label {
  float: right;
  display: inline;
}

.pagination {
  float: right;
}
